*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild


.idea/runConfigurations.xml
app/build.gradle
app/proguard-rules.pro
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
